{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}
    <div class="row">

        <div class="col-2">
        </div>

        <div class="col-8 g-bold ">
            {% if user.first_name %}
                {{ user.first_name }},
            {% else %}
                {{ user|title }},
            {% endif %} здесь вы можете изменить пароль
            <br><br>
            <form action="{% url 'auth:edit_password' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <br><br>
                <div class="row">
                    <div class="col-8">
                        <input class="btn btn-success" type="submit"
                               value="Сохранить">
                    </div>
                    <div class="col-4">
                        <button class="btn btn-inverse">
                            <a class="" href="{% url 'auth:edit' %}">
                                Отмена
                            </a>
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>


{% endblock %}

{% block menu %}
    {% include 'mainapp/inc_main_menu.html' %}
{% endblock %}