{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    {% include 'mainapp/inc_main_menu.html' %}

    <form class="form-horizontal size-90" action="{% url 'auth:register' %}"
          method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ register_form.as_p }}
        <br>
        <input class="btn btn-round form-control button" type="submit"
               value="Зарегистрироваться">
        <a class="float-right" type="submit"
           href="{% url 'auth:login' %}">Уже есть учетная запись?</a>
    </form>

{% endblock %}
