{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    Статьи в разделе
{% endblock %}

{% block menu %}
    {% include 'mainapp/inc_main_menu.html' %}
{% endblock %}

{% block content %}
    <hr>
    <h1>Статьи в разделе: {{ object.name|title }} </h1>
    <hr>

    {% for article in articles %}
        <a href="{% url 'mainapp:article_detail' pk=article.pk %}">{{ article.title }}
            ({{ article.edited|date:"d-E-Y P" }}) </a>
        <br>
    {% endfor %}

{% endblock %}
