{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    Статья
{% endblock %}

{% block menu %}
    {% include 'mainapp/inc_main_menu.html' %}
{% endblock %}

{% block content %}

    <hr>
    <h1>{{ object.title }}</h1>
    <hr>

    <p>{{ object.content|linebreaks }}</p>

    <br>
    теги:
    {% for tag in tags_for_article %}
        <a href="{% url 'mainapp:articles_for_tag_list' pk=tag.pk %}">
            {{ tag.name }}
        </a>
    {% endfor %}

    <br>
    {% if user.last_name and user.first_name %}
        <p>Автор: <a
                href="{% url 'cabinet:cabinet' %}">{{ user.first_name }} {{ user.last_name }}</a>
        </p>
    {% else %}
        <p>Автор: {{ object.user.username }}</p>
    {% endif %}
    <p>Создано: {{ object.created|date:"d-E-Y P" }}</p>
    <p>Изменено: {{ object.edited|date:"d-E-Y P" }}</p>

{% endblock %}
