{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    Статья
{% endblock %}

{% block menu %}
    {% include 'mainapp/inc_main_menu.html' %}
{% endblock %}

{% block content %}

    <hr>
    <h1>{{ object.title }}</h1>
    <hr>

    <p>{{ object.content|linebreaks }}</p>

    <br>
    теги:
    {% for tag in tags_for_article %}
        <a href="{% url 'mainapp:articles_for_tag_list' pk=tag.pk %}">
            {{ tag.name }}
        </a>
    {% endfor %}

    <br>
    {% if object.user.last_name and object.user.first_name %}
        <p>Автор: {{ object.user.first_name }} {{ object.user.last_name }}</p>
    {% else %}
        <p>Автор: {{ object.user.username }}</p>
    {% endif %}
    <p>Создано: {{ object.created|date:"d-E-Y P" }}</p>
    <p>Изменено: {{ object.edited|date:"d-E-Y P" }}</p>

    {% if object.is_reviewing %}
        <p>Статус: На модерации</p>
    {% elif not object.is_rejected and not object.is_reviewing and not object.is_published%}
        <p>Статус: Черновик</p>
    {% endif %}

    {% if object.reject_comment %}
        <p>Причина отклонения: {{ object.reject_comment }}</p>
        <a class="btn btn-link" href="{% url 'cabinet:my_drafts' %}">В черновики</a>
    {% endif %}

    <hr>
    {% if object.is_published %}
        {% with comments.count as total_comments %}
            <h4>
                Количество комментариев: {{ total_comments }}
            </h4>
        {% endwith %}
        {% for comment in comments %}
            <hr>
            <div>
                <p>
                    Комментарий № {{ forloop.counter }} от {{ comment.user }}
                    ({{ comment.created }}
                    {% if comment.edited > comment.created %}
                        - изменен {{ comment.edited }}
                    {% endif %}
                    )
                </p>

                {% if comment.comment_to %}
                    <p>
                        в ответ на комментарий от {{ comment.comment_to.user }}
                        ({{ comment.comment_to.created }})
                    </p>
                {% endif %}

                {{ comment.content|linebreaks }}
                <br>
                {% if user.is_authenticated %}
                    <a href="{% url 'commentapp:comment_new' pk=comment.pk %}">Ответить</a>
                    {% if user == comment.user %}
                        <a href="{% url 'commentapp:comment_edit' pk=comment.pk %}">Изменить</a>
                        <a href="{% url 'commentapp:comment_delete' pk=comment.pk %}">Удалить</a>
                    {% endif %}
                {% endif %}
            </div>
        {% empty %}
            <p>Пока комментариев нет</p>
        {% endfor %}

        {% if new_comment %}
            <h4>Ваш комментарий был добавлен</h4>
        {% endif %}

        {% if user.is_authenticated %}
            <h4>Напишите ваш комментарий:</h4>
            <form action="." method="post">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Добавить"></p>
            </form>
        {% else %}
            <h4>Комментарии могут добавлять только авторизированные
                пользователи </h4>
        {% endif %}
    {% endif %}

    {% if user.is_staff and object.is_reviewing %}
        {% include 'cabinetapp/moderation.html' %}
    {% endif %}

    {% if user.is_staff and object.is_published %}
        {% include 'cabinetapp/moderation.html' %}
    {% endif %}

{% endblock %}
