<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            {{ title }}
        {% endblock %}
    </title>

    {% block css %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="shortcut icon" type="image/png"
              href="{% static "image/favicon.png" %}">

    {% endblock %}

    {% block js %}
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'js/advanced_search.js' %}"></script>
    {% endblock %}

</head>
<body class="gantry site com_k2 view-itemlist layout-category task-category dir-ltr itemid-195 outline-40
g-2column-left g-style-preset5">
<div id="g-page-surround">
    <header id="g-header" style="height: 280px">
    {% if user.banned %}
                <div class="col-12 center text-info bg-danger">{{ user|title }}, ваша
                    учетная запись заблокирована до {{ user.banned }}</div>
            {% endif %}
        <div class="g-container">
            <div class="g-grid">
                <div class="g-block size-100 center title1 swiper-slide-content">
                    <div id="swiper-5120-particle"
                         class="g-content g-particle">
                        <div class="">
                            <div class="g-swiper">
                                <div class="swiper-container g-horizontal-slides g-horizontal-slides-"
                                     style="height: 300px;">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <div class="swiper-slide-content"
                                                 style="margin-bottom: 40px;margin-top: 10px;">
                                                <div class="swiper-slide-content-text">
                                                    <div class="g-swiper-slide-content-subtitle"
                                                         style="margin-bottom: 15px;margin-top: 10px;">
                                                        KNACK BOOK
                                                    </div>
                                                    <div class="g-swiper-slide-content-title">
                                                        Ваши статьи
                                                    </div>
                                                    <div class="g-swiper-slide-content-desc">
                                                        Делитесь, создавайте,
                                                        общайтесь
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-pagination g-horizontal-slides-pagination g-horizontal-slides-pagination-"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="g-container-9278" class="g-wrapper">
        <div class="g-container">
            <div class="g-grid">
                <div class="g-block size-75">
                    <section id="g-mainbody">
                        <div class="g-grid">
                            <div class="g-block size-100">
                                <div class="g-content">
                                    <div class="platform-content row-fluid">
                                        <div class="span12">
                                            {% block content %}

                                            {% endblock %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                {% include 'mainapp/inc_search.html' %}
            </div>
        </div>
    </section>
    {% block footer %}
        <section id="g-copyright">
            <div class="g-container">
                <div class="g-grid">

                    <div class="g-block size-30">
                        <div id="branding-3118-particle"
                             class="g-content g-particle">
                            <div class="g-branding branding">
                                <h6><a href="{% url 'mainapp:page_help' %}"
                                       title="Knack Book" class="g-powered-by">
                                    <span class="hidden-tablet">Помощь</span></a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="g-block size-30">
                        <div id="copyright-7616-particle"
                             class="g-content g-particle">
                            <div class="g-copyright ">
                                {% now "Y" as today %}
                                Copyright &copy; {{ today }}
                            </div>
                        </div>
                    </div>

                    <div class="g-block size-30">
                        <div class="g-content float-right">
                            <div class="platform-content">
                                <div class="moduletable obratnaia">
                                    <ul class="nav menu">
                                        <li class="item-502"><a href="{% url 'main:feedback' %}">Написать
                                            нам</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    {% endblock %}
    {% block menu %}

    {% endblock %}
</div>
</body>
</html>
