{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    Помощь
{% endblock %}

{% block menu %}
    {% include 'mainapp/inc_main_menu.html' %}
{% endblock %}

{% block content %}
    <hr>
        <h1>Помощь</h1>
    <hr>
    <span>
        На KnackBook интересуются IT и всеми сторонами современной жизни: программированием, технологиями, дизайном,
        наукой, образованием, играми, карьерой. Не обязательно писать хардкорно, но важно, чтобы была
        польза. Если у вас уже есть крутой материал на другой площадке, запостите его и здесь, чтобы сообщество
        KnackBook тоже его оценило.
    </span>
    <h4>Как стать автором</h4>
    <span>
        Для начала, нужно зарегистрироваться на KnackBook. <br>
        Затем Вы пишете первый пост, его проверяют модераторы , и, если всё хорошо, отправляют в основную ленту
        KnackBook, где он набирает просмотры, комментарии и рейтинг. Если с постом что-то не так, вас попросят его
        доработать.
    </span>
    <h4>Где писать статьи</h4>
    <span>
        Для написания статьи Вам нужно перейти в Личный кабинет и нажать на кнопку "Новая статья", там Вы сможете
        написать статью, указать раздел(лы) к которым она относится, а так же назначить тэги.<br>
        Статью можно сохранить как черновик или отправить модераторам на проверку (кнопка "Опубликовать") <br>
    </span>
    <h4>Где посмотреть свои статьи</h4>
    <span>
        Все Ваши статьи можно посмотреть в ЛК в разделах "Мои статьи", "Черновики", "На модерации".<br>
        А так же Вы увидите их в числе прочих статей разделов на сайте.=))) <br>
    </span>
    <h4>Как узнать, что статья опубликована</h4>
    <span>
        После публикации (отклонении) статьи модератором автору приходит уведомление в ЛК.<br>
    </span>
    <h4>Зачем вообще писать</h4>
    <ul>
        <li>Написать пост — значит как следует разложить всё по полочкам, обобщить опыт и поделиться им с другими.
            Приносить пользу чертовски приятно, попробуйте.</li>
        <li>Никогда не угадаешь, кто прочитает ваш пост. Часто это те, кто разбирается в вопросе на голову лучше вас.
            Фидбэк от таких людей — возможно, самое ценное, что вы приобретете на KnackBook.</li>
        <li>Ваши публикации — это ваша репутация. Они лучше резюме расскажут, кто вы, чем занимаетесь и в чем
            разбираетесь.</li>
    </ul>
{% endblock %}
