{% load static %}

<div class="g-grid col-3">

    <div class="g-block size-100 align-left">
        <nav class="g-main-nav">
            <ul>

                <li>
                    <a href="{% url 'cabinet:cabinet' %}">
                            <span class="">
                                <span class="">Новая статья</span>
                            </span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'cabinet:cabinet' %}">
                            <span class="g-menu-item-content">
                                <span class="g-menu-item-title">Мои статьи</span>
                            </span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'cabinet:cabinet' %}">
                        <span class="g-menu-item-content">
                            <span class="g-menu-item-title">Черновики</span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'cabinet:cabinet' %}">
                        <span class="g-menu-item-content">
                            <span class="g-menu-item-title">Изменить профиль</span>
                        </span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'cabinet:cabinet' %}">
                        <span class="g-menu-item-content">
                            <span class="g-menu-item-title">Уведомления</span>
                        </span>
                    </a>
                </li>

                {% if user.is_superuser or user.is_staff %}
                    <li>
                        <a href="{% url 'cabinet:cabinet' %}">
                            <span class="g-menu-item-content">
                                <span class="g-menu-item-title">Модерация</span>
                            </span>
                        </a>
                    </li>
                {% endif %}

                {% if user.is_superuser %}
                    <li>
                        <a href="{% url 'admin:index' %}">
                            <span class="g-menu-item-content">
                                <span class="g-menu-item-title">Админка</span>
                            </span>
                        </a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    </div>

</div>
