{% extends 'mainapp/base.html' %}
{% load static %}


{% block content %}
    <div class="row">

        <div class="col-2">

        </div>

        <div class="col-8 g-bold">
            {% if user.first_name %}
                {{ user.first_name }},
            {% else %}
                {{ user|title }},
            {% endif %} вы уверены что хотите {% if result == 1 %}
            опубликовать{% elif result == 2 %}снять с публикации{% endif %}
            статью?
            <br><br>
            <form action="{% url 'cabinet:moderation_check' pk=article.id result=result %}"
                  method="post">
                {% csrf_token %}

                <div class="row">
                {% if result == 2 %}
                <div class="col-12">
                <small>Причина отклонения:</small>
                    <input class="text-muted lead" type="text" name="comment" required placeholder="комментарий">
                </div>
                {% endif %}
                    <div class="col-6">
                        {% if result == 2 %}
                            <input class="btn btn-warning" type="submit"
                                   value="Снять с рубликации">
                        {% elif result == 1 %}
                            <input class="btn btn-success" type="submit"
                                   value="Опубликовать">
                        {% endif %}
                    </div>
                    <div class="col-4">
                        <button class="btn btn-inverse">
                            <a class="" href="{% url 'cabinet:moderation' %}">
                                Отмена
                            </a>
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>


{% endblock %}

{% block menu %}
    {% include 'mainapp/inc_main_menu.html' %}
{% endblock %}
